.not-match{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align:center; 
    width:300px;
    height:270px;
}
.not-match h1{
    margin-top:20px;
    margin-bottom:20px;
    font-size:70px;
    color:rgba(128, 128, 128, 0.911)
}