.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 25px 0px rgba(128, 128, 128, 0.466);
    margin: 0px 30px 50px 0;
    border-radius: 10px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    height: 30px;
    padding: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 27px;
}

.sidebar__searchContainer .MuiSvgIcon-root{
    color: #bfbfbf;
    padding: 5px;
}

.sidebar__searchContainer input {
    border: none;
    background-color: #f4f4f4;
    outline-width: 0;
}

.sidebar__headerIcon {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sidebar__headerIcon button:hover {
    border-radius: 10px;
    background-color: #f7405c;
}

.active {
    border-radius: 10px;
    background-color: #f7405c;
}

.sidebar__chatUsers, .sidebar__chatGroups {
   flex: 1;
   background-color: white;
   /* overflow: scroll; */
}

.sidebar__chatGroups {
    /* display: grid;
    justify-content: center; */
}

.sidebar__chatGroupsBtn {
    display: grid;
}

.sidebar__chatGroupsBtn button {
    background-color: #f7405c;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    outline-width: 0;
    height: 45px;
    cursor: pointer;
}