.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: white;
    padding: 10px;
}

.sidebar__search {

}

.sidebar__headerIcon {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sidebar__headerIcon button:hover {
    border-radius: 10px;
    background-color: #f7405c;
}